# ETL Project
### Extract, Transform and Load videogames data

In [1]:
## Dependencies
import pandas as pd

## Console Videogames (data.world)

Dataset retrieved from: https://data.world/sumitrock/videogames

In [8]:
## Import CSV into DataFrame
console_file = "input/Video_Games.csv"
console_df = pd.read_csv(console_file, encoding='UTF-8')
console_df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
## Select Columns for Analysis
console_columns = ['Name', 'Platform', 'Year_of_Release', 'Genre', 'Developer', 'Publisher', 'User_Score']
console_compact = console_df[console_columns]
console_compact.head()

,Name,Platform,Year_of_Release,Genre,Developer,Publisher,User_Score
0,Wii Sports,Wii,2006.0,Sports,Nintendo,Nintendo,8
1,Super Mario Bros.,NES,1985.0,Platform,NaN,Nintendo,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,Nintendo,8.3
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,Nintendo,8
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,NaN,Nintendo,NaN

In [21]:
## Check unique value counts
console_compact['Platform'].value_counts()

PS2     2161
DS      2152
PS3     1331
Wii     1320
X360    1262
PSP     1209
PS      1197
PC       974
XB       824
GBA      822
GC       556
3DS      520
PSV      432
PS4      393
N64      319
XOne     247
SNES     239
SAT      173
WiiU     147
2600     133
GB        98
NES       98
DC        52
GEN       29
NG        12
WS         6
SCD        6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

## Steam Videogames (kaggle.com)
Dataset retrieved from: https://www.kaggle.com/nikdavis/steam-store-games

In [10]:
## Import CSV into DataFrame
steam_file = "input/steam.csv"
steam_df = pd.read_csv(steam_file, encoding='UTF-8')
steam_df.head()

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99

In [31]:
## Select Columns for Analysis
steam_columns = ["name", "platforms", "release_date", "genres", "developer", "publisher", "positive_ratings", "negative_ratings"]
steam_compact = steam_df[steam_columns]
steam_compact.head()

,name,platforms,release_date,genres,developer,publisher,positive_ratings,negative_ratings
0,Counter-Strike,windows;mac;linux,2000-11-01,Action,Valve,Valve,124534,3339
1,Team Fortress Classic,windows;mac;linux,1999-04-01,Action,Valve,Valve,3318,633
2,Day of Defeat,windows;mac;linux,2003-05-01,Action,Valve,Valve,3416,398
3,Deathmatch Classic,windows;mac;linux,2001-06-01,Action,Valve,Valve,1273,267
4,Half-Life: Opposing Force,windows;mac;linux,1999-11-01,Action,Gearbox Software,Valve,5250,288

### Get Main Genre from Steam DataFrame

In [24]:
## Get main genre from genres
main_genre = []
for index, row in steam_compact.iterrows():
    main_genre.append(row['genres'].split(';')[0])

In [25]:
## Check unique value counts
pd.DataFrame(main_genre)[0].value_counts(ascending=False)

Action                   11212
Adventure                 5256
Casual                    4373
Indie                     2623
Violent                    709
Simulation                 631
Strategy                   532
RPG                        407
Free to Play               395
Sexual Content             245
Racing                     197
Nudity                     112
Sports                      83
Gore                        81
Animation & Modeling        66
Utilities                   60
Design & Illustration       28
Massively Multiplayer       16
Audio Production            16
Education                   14
Early Access                 9
Video Production             5
Accounting                   2
Web Publishing               1
Software Training            1
Photo Editing                1
Name: 0, dtype: int64

In [19]:
## Check unique value counts
console_compact['Genre'].value_counts(ascending=False)

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64

### Generate "Steam" Platform column

In [26]:
## Get main genre from genres
main_platform = []
for index, row in steam_compact.iterrows():
    main_platform.append(row['platforms'].split(';')[0])

In [27]:
## Check unique value counts
pd.DataFrame(main_platform)[0].value_counts(ascending=False)

windows    27070
mac            4
linux          1
Name: 0, dtype: int64

In [36]:
steam_platform = ["Steam" for i in range(len(steam_compact))]

### Get Year of Release from Release Date

### Compute User Score