# ETL Project
## Example Query: Number of games for preferred platforms, grouped by genre

In [1]:
## Dependencies
import numpy as np
import pandas as pd
import pymongo
import re

In [2]:
## Setup Database connection (MongoDB)
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

## Define database in Mongo
db = client.VideoGamesDB

In [3]:
## Query: Number of games per platform (by Genre)
query =  {'$or': [{'platform': 'PS4'},
    {'platform': 'XOne'},
    {'platform': 'Steam'}]}

results = db.united.find(query)

In [4]:
## Store query results in DataFrame
preferred_platforms = pd.DataFrame(results)
preferred_platforms.head()

,_id,name,platform,genre,developer,publisher,user_score,year_of_release
0,60c4e7d3f19b51d2b434cb1b,Call of Duty: Black Ops 3,PS4,Shooter,NaN,Activision,NaN,2015
1,60c4e7d3f19b51d2b434cb26,Grand Theft Auto V,PS4,Action,Rockstar North,Take-Two Interactive,8.3,2014
2,60c4e7d3f19b51d2b434cb49,FIFA 16,PS4,Sports,EA Sports,Electronic Arts,4.3,2015
3,60c4e7d3f19b51d2b434cb53,Star Wars Battlefront (2015),PS4,Shooter,NaN,Electronic Arts,NaN,2015
4,60c4e7d3f19b51d2b434cb58,Call of Duty: Advanced Warfare,PS4,Shooter,Sledgehammer Games,Activision,5.7,2014

In [5]:
## Filter by year of release
condition = (preferred_platforms['year_of_release'] >= 2014) & (preferred_platforms['year_of_release'] < 2017)

In [6]:
## Count number of games and Group by platform & genre
genres_by_platform = preferred_platforms.loc[condition][['platform', 'genre', '_id']].groupby(['platform', 'genre']).count()
genres_by_platform.rename(columns = {'_id':'Game Count'}, inplace=True)

In [7]:
# Display results
genres_by_platform

                                Game Count
platform genre
PS4      Action                        142
         Adventure                      28
         Fighting                       17
         Misc                           19
         Platform                        9
         Puzzle                          1
         Racing                         18
         Role-Playing                   51
         Shooter                        38
         Simulation                      6
         Sports                         42
         Strategy                        5
Steam    Accounting                      2
         Action                       3676
         Adventure                    1790
         Animation & Modeling           28
         Audio Production                8
         Casual                       1137
         Design & Illustration          12
         Early Access                    2
         Education                       6
         Free to Play                  135
         Gore                           10
         Indie                         886
         Massively Multiplayer           4
         Nudity                         17
         Photo Editing                   1
         RPG                           132
         Racing                         72
         Sexual Content                 46
         Simulation                    262
         Sports                         33
         Strategy                      159
         Utilities                      23
         Violent                        72
XOne     Action                         81
         Adventure                      14
         Fighting                        5
         Misc                           17
         Platform                        4
         Racing                         18
         Role-Playing                   14
         Shooter                        36
         Simulation                      3
         Sports                         34
         Strategy                        2